<ion-header>
  <ion-toolbar>
    <ion-title>
      Formulario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="datosUsuario.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input type="text" [(ngModel)]="datosUsuario.apellido"></ion-input>
  </ion-item>
  <!-- Similar para Apellido -->

  <ion-item>
    <ion-label position="floating">Latitud</ion-label>
    <ion-input type="number" [(ngModel)]="datosUsuario.latitud"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Longitud</ion-label>
    <ion-input type="number" [(ngModel)]="datosUsuario.longitud"></ion-input>
  </ion-item>
  <!-- Similar para Longitud -->

  <ion-button expand="full" (click)="onSiguienteClick()">Siguiente</ion-button>



</ion-content>
